# Root password for the MariaDB database. This is the password for the root user of the database.
MARIADB_ROOT_PASSWORD=

# Password for the MariaDB database user. This is the password for the user specified in MARIADB_USER.
MARIADB_PASSWORD=

# Name of the MariaDB database. This is the name of the database that the application will use.
MARIADB_DATABASE=

# Hostname for the MariaDB database. This is the address of the database server.
MARIADB_HOST=

# Username for the MariaDB database. This is the username that the application will use to connect to the database.
MARIADB_USER=

# Port number for the MariaDB database. This is the port on which the database server is listening.
MARIADB_PORT=

# Port number for the Express server. This is the port on which the backend server will run.
APP_API_PORT=

# Token for API authentication. This token is used to authenticate requests to the backend API.
APP_API_TOKEN=

# Environment ID. This is the ID of the environment that the backend will run in. For local development, this can be set to "dev" or the username of the developer.
ENVIRONMENT_ID=